<div class="all">
  <div class="plan">
    <h2 class="title">プランテキスト</h2>
    <div class="frame1">
      <h2 class="text-container">
        <div class="cost-wrapper">
          <p class="cost-mark">￥</p>
          <p class="cost">5,000</p>
        </div>
        <p class="month">月額</p>
      </h2>
    </div>
    <div class="frame2">
      <p>入会金0円</p>
      <p>平日:9時～17時</p>
      <p>土日祝:利用ナシ</p>
      <p>コアタイムでの利用に最適なプラン</p>
    </div>
  </div>

  <div class="plan">
    <h2 class="title">プランテキスト</h2>
    <div class="frame1">
      <h2 class="text-container">
        <div class="cost-wrapper">
          <p class="cost-mark">￥</p>
          <p class="cost">5,000</p>
        </div>
        <p class="month">月額</p>
      </h2>
    </div>
    <div class="frame2">
      <p>入会金0円</p>
      <p>平日:9時～17時</p>
      <p>土日祝:利用ナシ</p>
      <p>コアタイムでの利用に最適なプラン</p>
    </div>
  </div>
</div>
