@use "../../variables" as *;
.plan {
  text-align: center;
  @media screen and(max-width:$breakpoint-md) {
    margin-bottom: 24px;
  }

  .title {
    font-weight: 700;
    background-color: $orange_zorba;
    color: $white;
    font-size: $fontsize-l;
    margin-bottom: 0;
    padding: 20px ;
    white-space: nowrap;
  }

  &:nth-child(even) {
    border: 5px solid $orange_bistre;
    box-sizing: border-box;
    .title {
      padding: 15px 20px 20px;
      background-color: $orange_bistre;
    }
    .frame2 p:last-of-type {
      padding: 20px 20px 15px;
    }
  }
  .text-container {
    background-color: $gray_desertStorm;
    position: relative;
    margin-bottom: 0;
    padding: 24px;
    border: solid 1px $gray_gainsboro;

    .cost-wrapper {
      display: flex;
      color: $orange_bistre;
      justify-content: center;
      gap: 4px;

      .cost-mark {
        font-size: $fontsize-l;
        font-weight: 700;
        margin: 24px 0px 0px;
        margin-bottom: 0;
      }

      .cost {
        line-height: 55.74px;
        font-size: $fontsize-xxl;
        font-weight: 700;
        font-family: $fontfamily-gothic;
      }
    }
    .month {
      color: $black;
      font-size: $fontsize-s;
      font-weight: 400;
      margin-bottom: 0;
      line-height: 20.27px;
    }
  }
  .frame2 {
    font-size: $fontsize-s;
    color: $black;

    & > p {
      border: solid $gray_gainsboro;
      border-width: 0 1px 1px;
      padding: 20px;
      margin-bottom: 0px;
    }
  }
}
