@use "../../variables" as *;
.card {
  border: 0px;
  display: flex;
  flex-direction: column;
  .card-container {
    border-radius: 0;
    position: relative;

    .triangle {
      position: absolute;
      border-right: 150px solid transparent;
      border-top: 150px solid white;
      z-index: 1;
    }

    .title {
      position: absolute;
      font-size: $fontsize-l;
      font-weight: 700;
      color: $orange_bistre;
      z-index: 2;
      margin-left: 6px;
      margin-bottom: 0px;
    }

    .img-wrapper {
      overflow: hidden;
      img {
        width: 100%;
        transition: 0.5s;
        @media screen and (min-width: $breakpoint-md) {
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }

  .card-body {
    
    padding: 32px;
    display: grid;
    flex-direction: column;
    background-color: $white_smoke;

    .text {
      font-weight: 400;
      font-size: $fontsize-s;
      margin-bottom: 30px;
    }
    .button {
      justify-self: center;
    }
  }
}
