@use "../../variables" as *;
.header {
  .navbar {
    position: fixed;
    padding: 0;
    z-index: 2;
    width: 100%;
    background-color: $black;
    @media screen and (min-width: $breakpoint-xl) {
      background-color: rgba(0,0,0,.5);
    }

    .container-fluid {
      height: 60px;
      margin: 0;
      padding: 0;
      display: flex;
      position: relative;
      @media screen and(min-width:$breakpoint-xl) {
        height: 90px;
      }
      .header-image1 {
        box-sizing: content-box;
        padding: 19.72px 16px;
        width: 120px;
        height: 20.56px;
        @media screen and(min-width:$breakpoint-xl) {
          padding: 33.01px 30px;
          width: 140px;
          height: 23.99px;
        }
      }
      .navbar-toggler {
        outline: none;
        padding: 0;
        border: 0;
        margin: 0 16px 0 auto;
      }
    }
    #humberger {
      .humberger-container {
        padding: 0;
        @media screen and (min-width: $breakpoint-xl) {
          &:last-child {
            .humberger-text {
              padding-right: 50px;
            }
          }
        }

        .humberger-text {
          display: block;
          color: $white;
          text-decoration: none;
          font-size: 14px;
          padding: 15px 16px;
          line-height: 20px;
          font-weight: normal;
          @media screen and (min-width: $breakpoint-xl) {
            padding: 20px;
            &:hover {
              color: $gray_nobel;
              transition: 0.2s ease;
            }
          }
        }

        .concept-container {
          display: flex;
          position: relative;
          align-self: center;
          .navbar-toggler {
            background-color: $black;
            outline: none;
            padding: 0;
            border: 0;
            margin: 0 16px 0 auto;
          }
        }
        #concept {
          position: relative;
          padding-left: 12px;
          @media screen and (min-width: $breakpoint-xl) {
            position: absolute;
            top: 90px;
          }

          .concept-text {
            padding: 15px 12px;
            color: $white;
            background-color: $black;
            text-decoration: none;
            font-size: 14px;
            line-height: 20px;
            font-weight: normal;
            display: flex;
            @media screen and (min-width: $breakpoint-xl) {
              &:hover {
                background-color: $orange_bistre;
                transition: 0.2s ease;
              }
            }
          }
        }
      }
    }
    @media screen and (min-width: $breakpoint-xl) {
      .container-1 {
        background-color: $black_50;
        height: 90px;
        margin: 0;
        padding: 0;
        display: flex;
        position: relative;
        .header-image1 {
          padding: 33.01px 30px;
          width: 140px;
          height: 23.99px;
        }
        .header-menu {
          height: 100%;
        }
      }
    }
  }
}
