<div class="header">
  <nav class="navbar navbar-expand-xl">
    <div class="container-fluid">
      <a href="#">
        <img class="header-image1" src="../../../img/header.png" alt="Switch" />
      </a>
      <button
        type="button"
        class="navbar-toggler"
        data-toggle="collapse"
        aria-expanded="false"
        aria-controls="humberger"
        data-target="#humberger"
      >
        <img src="../../../img/humberger-bar.png" />
      </button>
    </div>
    <div class="collapse navbar-collapse" id="humberger">
      <ul class="navbar-nav mr-auto">
        <div class="humberger-container">
          <a class="humberger-text" href="#">HOME</a>
        </div>
        <div
          class="humberger-container"
          type="button"
          data-toggle="collapse"
          aria-expanded="false"
          aria-controls="concept"
          data-target="#concept"
        >
          <div class="concept-container">
            <a class="humberger-text" href="#">CONCEPT</a>
            <button type="button" class="navbar-toggler">
              <img src="../../../img/Property 1=plus.png" />
            </button>
          </div>
          <div class="collapse" id="concept">
            <a class="concept-text" href="#">ブログアーカイブ</a>
            
            <a class="concept-text" href="#">お知らせアーカイブ</a>
            
            <a class="concept-text" href="#">イベントアーカイブ</a>
            
            <a class="concept-text" href="#">インタビューアーカイブ</a>
            
            <a class="concept-text" href="#">FAQページ</a>
            
            <a class="concept-text" href="#">固定ページ（デフォルト）</a>
            
            <a class="concept-text" href="#">CONCEPT</a>
            
            <a class="concept-text" href="#">SERVICE</a>
            
            <a class="concept-text" href="#">FLOOR</a>
            
            <a class="concept-text" href="#">ACCESS</a>
          </div>
        </div>
        <div class="humberger-container">
          <a class="humberger-text" href="#">SERVICE</a>
        </div>
        <div class="humberger-container">
          <a class="humberger-text" href="#">FLOOR</a>
        </div>
        <div class="humberger-container">
          <a class="humberger-text" href="#">INTERVIEW</a>
        </div>
        <div class="humberger-container">
          <a class="humberger-text" href="#">BLOG</a>
        </div>
        <div class="humberger-container">
          <a class="humberger-text" href="#">ACCESS</a>
        </div>
        <div class="humberger-container">
          <a class="humberger-text" href="#">DOWNLOAD</a>
        </div>
      </ul>
    </div>
  </nav>
</div>
