<div class="news">
  <div class="news-and-events-title">
    <h2>News<span class="caption">お知らせ</span></h2>
  </div>

  <article class="frame1">
    <article class="wrapper">
      <time datetime="2018.06.20">2018.06.20</time>

      <a href="#">
        ブックカフェ・コワーキング系サイト向けテーマ「Switch」をリリースしました。
      </a>
    </article>

    <article class="wrapper">
      <time datetime="2018.06.18">2018.06.18</time>

      <a href="#">
        3種のレイアウトから選択できるテンプレートを固定ページに実装
      </a>
    </article>

    <article class="wrapper">
      <time datetime="2018.06.12">2018.06.12</time>

      <a href="#">
        利用者からのご質問をまとめた「FAQ」ページをアップしました。
      </a>
    </article>

    <article class="wrapper">
      <time datetime="2018.06.08">2018.06.08</time>

      <a href="#">
        デモ用のサンプルデータを表示する「インポート機能」でサイト構築を快適に？
      </a>
    </article>

    <article class="wrapper">
      <time datetime="2018.06.02">2018.06.02</time>

      <a href="#"> テーマのアップデート情報について </a>
    </article>
  </article>

  <div class="frame2">
    <a href="#" class="news-and-events-more"
      >お知らせ一覧<i class="fas fa-chevron-right"></i
    ></a>
  </div>
</div>
