<footer class="footer">
  <div class="footer-top">
    <a class="switch" href="#">
      <img class="switch-img" src="../../../img/footer.png" />
    </a>
    <address>
      〒532-0011　大阪市淀川区西中島6丁目8-23テスト <br />TEL.06-1234-5678
      FAX.06-1234-5678　営業時間 / 9:00 - 22:00　定休日 / 不定休
    </address>
    <div class="icon">
      <a class="facebook" href="#">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a class="twitter" href="#">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a class="instagram" href="#">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a class="rss" href="#">
        <i class="fa-sharp fa-solid fa-rss"></i>
      </a>
    </div>
  </div>
  <ul class="link">
    <li>
      <a href="#">HOME</a>
    </li>
    <li>
      <a href="#">CONCEPT</a>
    </li>
    <li>
      <a href="#">SERVICE</a>
    </li>
    <li>
      <a href="#">FLOOR</a>
    </li>
    <li>
      <a href="#">INTERVIEW</a>
    </li>
    <li>
      <a href="#">BLOG</a>
    </li>
    <li>
      <a href="#">ACCESS</a>
    </li>
    <li>
      <a href="#">DOWNLOAD</a>
    </li>
  </ul>
  <div class="footer-bottom">
    <small class="copyright">
      Copyright © WordPressテーマ「Switch(tcd063)」 All Rights Reserved.
    </small>
  </div>
</footer>
