@use "../../variables" as *;
.footer {
  .footer-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 52px;
    .switch {
      margin-bottom: 20px;
      .switch-img {
        width: 150px;
      }
    }
    address {
      text-align: center;
      font-size: 14px;
      line-height: 28px;
    }
    .icon {
      display: flex;
      gap: 14px;

      a {
        color: black;
        text-decoration: none;
        transition: 0.2s ease;
        &:hover {
          color: $gray_nobel;
        }
      }
    }
  }
  .link {
    background-color: $white_smoke;
    padding-left: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 16px;
    border-top: 1px solid;
    li {
      list-style: none;
      padding: 0 8px;
      border-left: 1px solid;
      a {
        text-decoration: none;
        color: $black;
        transition:0.2s ease;
        &:hover {
          color: $orange_bistre;
        }
      }
    }
    li:first-child {
      border-left: 0 solid;
      padding-left: 0;
    }
    li:last-child {
      padding-right: 0;
    }
  }
  .footer-bottom {
    background-color: $black;
    padding: 16px;
    text-align: center;

    .copyright {
      color: $white;
      text-align: center;
      font-size: 12px;
      margin: 0;
    }
  }
  @media screen and(max-width:$breakpoint-md) {
    .footer-top {
      margin: 32px;
    }
    .link {
      display: flex;
      text-align: left;
      flex-wrap: wrap;
      li {
        border-left: 0 solid;
        padding: 0px;
        padding-bottom: 8px;
        width: 50%;
        a {
          line-height: 20px;
        }
      }
    }
  }
}
