<div class="plans container">
  <div class="message">
    <h2 class="title">ライフスタイルに合わせて選べる多彩なプラン。</h2>
    <p class="explanation">
      平日のみのプラン、仕事帰りをコアタイムとした夕方以降が中心のプラン、休
      日をメインとしたプランなど、
      多彩なプランの中からそれぞれのお客様のライフスタイルに合わせてお選びい
      ただけます。
      ビジター料金でのご利用も可能ですので、月額会員登録の前に体験をしたいと
      いう方もぜひご利用ください。
    </p>
  </div>

  <div class="plan-container">
    <div class="plan">
      <h2 class="title">デイタイムプラン</h2>
      <div class="frame1">
        <h2 class="text-container">
          <div class="cost-wrapper">
            <p class="cost-mark">￥</p>
            <p class="cost">5,000</p>
          </div>
          <p class="month">月額</p>
        </h2>
      </div>
      <div class="frame2">
        <p>入会金0円</p>
        <p>平日:9時～17時</p>
        <p>土日祝:利用ナシ</p>
        <p>コアタイムでの利用に最適なプラン</p>
      </div>
    </div>

    <div class="plan">
      <h2 class="title">スタンダードプラン</h2>
      <div class="frame1">
        <h2 class="text-container">
          <div class="cost-wrapper">
            <p class="cost-mark">￥</p>
            <p class="cost">15,000</p>
          </div>
          <p class="month">月額</p>
        </h2>
      </div>
      <div class="frame2">
        <p>入会金0円</p>
        <p>平日:17時〜23時</p>
        <p>土日祝：営業時間全て</p>
        <p>営業時間内で終日ご利用可能なプラン</p>
      </div>
    </div>

    <div class="plan">
      <h2 class="title">プレミアムプラン</h2>
      <div class="frame1">
        <h2 class="text-container">
          <div class="cost-wrapper">
            <p class="cost-mark">￥</p>
            <p class="cost">20,000</p>
          </div>
          <p class="month">月額</p>
        </h2>
      </div>
      <div class="frame2">
        <p>入会金5,000円</p>
        <p>平日：営業時間全て</p>
        <p>土日祝：営業時間全て</p>
        <p>フルに使いたい方のためのプレミアムなプラン</p>
      </div>
    </div>
  </div>

  <div class="button-container">
    <a href="#" class="button">テキスト</a>
  </div>
</div>
