@use "../../variables" as *;
.plans {
  .message {
    padding: 50px 0 56px;
    .title {
      color: $orange_bistre;
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
  }
  @media screen and (min-width: $breakpoint-md) {
    .message {
      padding: 50px 0 32px;
    }
    .plan-container {
      display: flex;
      margin-bottom: 45px;
      justify-content: center;

      .plan {
        height: 100%;
        width: 100%;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
      }
      .plan:first-child {
        margin-left: 0;
      }
    }
  }
}
