@use "../../variables" as *;
.about {
  padding: 100px 0;
  @media screen and(max-width:$breakpoint-lg) {
    padding: 40px;
  }
  .img-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @media screen and(max-width:$breakpoint-lg) {
      grid-template-columns: 1fr 1fr;
    }
    img {
      width: 100%;
    }
  }
  .message {
    width: 100%;
    background-color: $white_smoke;
    .title {
      color: $orange_bistre;
    }
  }
}
