@use "../../variables" as *;
.news-and-events {
  display: flex;
  background-color: $white_smoke;
  padding-top:56px;
  padding-bottom:56px;
  .news {
    margin-right: 40px;
    width: 50%;
  }
  .events {
    width: 50%;
  }
  @media screen and(max-width:$breakpoint-lg) {
    display:block;
    .news{
      width: 100%;
      padding-bottom:35px;
    }
    .events{
      width:100%;
    }
  }
}
