@use "../../variables" as *;
.cards {
  .card {
    margin-bottom: 40px;
  }
  @media screen and(min-width:$breakpoint-md) {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    .card {
      padding: 0;
      padding-bottom: 100px;
      margin: 0;
    }
  }
}
