<div class="cards container">
  <div class="card">
    <div class="card-container">
      <p class="title">CONCEPT</p>
      <div class="triangle"></div>
      <div class="img-wrapper">
        <img src="../../../img/card-1.jpg" alt="ラウンジの画像" />
      </div>
    </div>
    <div class="card-body">
      <p class="text">
        「本屋」でも「自習室」でもない、新しい空間。それがこのカフェ＆コワーキングです。お好きなドリンクを飲みながらゆったりと気兼ねなく勉強や仕事に取り組んでいただけます。
      </p>
      <a href="#" class="button">コンセプト</a>
    </div>
  </div>

  <div class="card">
    <div class="card-container">
      <p class="title">SERVICE</p>
      <div class="triangle"></div>
      <div class="img-wrapper">
        <img src="../../../img/card-1.jpg" alt="ラウンジの画像" />
      </div>
    </div>
    <div class="card-body">
      <p class="text">
        喫茶・軽食を楽しめるカフェスペース。ビジネス書から最新の雑誌まで取りそろえるブックスペース。ブース型のパーソナルワークスペースに、開放感があるコワーキングスペース。
      </p>
      <a href="#" class="button">サービス</a>
    </div>
  </div>

  <div class="card">
    <div class="card-container">
      <p class="title">FLOOR</p>
      <div class="triangle"></div>
      <div class="img-wrapper">
        <img src="../../../img/card-1.jpg" alt="ラウンジの画像" />
      </div>
    </div>
    <div class="card-body">
      <p class="text">
        カフェ・ブック・コワー キング。各エリアで異な るコンセプトを持つ当店では、目的や気分に合わ せてフロア内を移動する ことで充実した時間をお過ごしいただけます。
      </p>
      <a href="#" class="button">フロアー</a>
    </div>
  </div>
</div>
